<div id="page_wrapper">
	<div class="container">
		<h4>Nova Questão</h4>

		<%= form_for :question, url: questions_path do |f| %>
			<p>
				<%= f.label :Fonte %><br>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :Ano %><br>
				<%= f.text_field :year %>
			</p>
			<p>
				<%= f.label :Conteúdo %><br>
				<%= f.text_field :body %>
			</p>
			<p>
				<%= f.label :Alternativas %><br>
				<%= f.text_field :alternatives %>
			</p>
			<div class="button">
				<a class="waves-effect waves-light btn"><%= f.submit :Salvar %></a>
			</div>
		<% end %>
	</div>
</div>